* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", arial;
    box-sizing: border-box;
}
body {
    background: #f5f6f7;
}

.container {
    width: 900px;
    max-width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    z-index: 10;
    background: white;
    /*  */
    /* border-radius: 100%; */
}
.confirm-container {
    width: 100%;
    /* background-color: #1d242b; */
}

.container .logo {
    width: 100%;
    height: 150px;
    background: #1d242b;
    display: flex;
    align-items: center;

    justify-content: center;
    padding: 0 3rem;
}

.container .confirm-container {
    padding: 2rem 3rem;
    -webkit-box-shadow: 1px 1px 26px -4px #1b242d;
    box-shadow: 1px 1px 26px -4px #1b242d;
}
.container .confirm-container .title {
    color: #47505d;
    font-size: 1.5rem;
}

.container-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
}
.container .confirm-container .buttonSend {
    text-decoration: none;
    padding: 1rem 3rem;
    color: white;
    background: #1b242d;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 40px;
    transition: all 0.3s;
}

.container .confirm-container .buttonSend:hover {
    cursor: pointer;
    background: #2a445e;
}

.pharagraph {
    color: #525a67;
}
.verify-icon {
    color: #5bd667;
    animation-timing-function: ease;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.logo-image {
    /* width: 100%; */
    height: 70%;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(0.9, 1.1) translateY(-25px);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}


.form-control{
    width: 100%;
    padding: 8px;
    margin-top: 1.5rem;
    border-radius: 5px;
}